<p style="color: green"><%= notice %></p>

<%= render @course, show_actions: false %>

<div>
  <%= link_to "Edit this course", edit_course_path(@course) %> |
  <%= link_to "Back to marathon", marathon_path(@course.marathon) %>

  <%= button_to "Destroy this course", @course, method: :delete %>
</div>
